RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond $1 !^(index\.php|public|FusionCharts|upload|assets|ajaxgallery|thum|css|js|cssm|jsm|pdfs|imagenes|images|swf|txt|xml|lib|img|cors|thumbnails|files|robots\.txt)
